<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ping</title>
</head>
<body>
<div>
    <form method="GET" th:action="@{'/api/v1/executions'}">
        <div>
            <label>address:</label>
            <label>
                <input type="text" name="address" placeholder="ip or domain">
            </label>
            <label>state:</label>
            <label>
                <select name="state">
                    <option name="state" value="">ALL</option>
                    <option name="state" th:each="state : ${states}" th:value="${state}" th:text="${state.name()}"/>
                </select>
            </label>
            <label>executed from:</label>
            <label>
                <input type="datetime-local" name="from" placeholder="from">
            </label>
            <label>executed to:</label>
            <label>
                <input type="datetime-local" name="to" placeholder="to">
            </label>
        </div>
        <button type="submit">Поиск</button>
    </form>
</div>
<table>
    <theat>
        <tr>
            <td>address</td>
            <td>state</td>
            <td>executed at</td>
        </tr>
    </theat>
    <tbody>
    <tr th:each="execution : ${executions.getContent()}">
        <td th:text="${execution.address}"></td>
        <td th:text="${execution.executionState}"></td>
        <td th:text="${execution.executedAt}"></td>
    </tr>
    </tbody>
</table>
<!--<nav>-->
<!--    <ul class = "pagination">-->
<!--        <li class ="page-item" th:classappend="$">-->
<!--            -->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->
<div id="ip-or-execution-input">
    <form method="GET" th:action="@{/api/v1/executions/execute}">
        <label>
            <input type="text" name="address" placeholder="ip or domain">
        </label>
        <button type="submit">Execute</button>
    </form>
</div>
</body>
</html>