<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ping</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div>
    <form method="GET" th:action="@{'/api/v1/executions'}">
        <div>
            <label>address:</label>
            <label>
                <input type="text" name="address" placeholder="ip or domain">
            </label>
            <label>state:</label>
            <label>
                <select name="state">
                    <option name="state" value="">ALL</option>
                    <option name="state" th:each="state : ${states}" th:value="${state}" th:text="${state.name()}"/>
                </select>
            </label>
            <label>executed from:</label>
            <label>
                <input type="datetime-local" name="from" placeholder="from">
            </label>
            <label>executed to:</label>
            <label>
                <input type="datetime-local" name="to" placeholder="to">
            </label>
        </div>
        <button type="submit">Поиск</button>
    </form>
</div>
<table>
    <theat>
        <tr>
            <td>address</td>
            <td>state</td>
            <td>executed at</td>
            <td></td>
            <td></td>
        </tr>
    </theat>
    <tbody>
    <tr th:each="execution : ${executions.getContent()}">
        <td th:text="${execution.address}"></td>
        <td th:text="${execution.executionState}"></td>
        <td th:text="${execution.executedAt}"></td>
        <td>
            <form th:method="get" th:action="@{'/api/v1/executions/{id}'(id=${execution.id})}">
                <input type="hidden"/>
                <button type="submit">Подробнее</button>
            </form>
        </td>
        <td>
            <form th:method="delete" th:action="@{'/api/v1/executions/{id}'(id=${execution.id})}">
                <input type="hidden"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item" th:classappend="${executions.isFirst() ? 'disabled' : ''}">
            <a class="page-link"
               th:href="@{'/api/v1/executions?page_number='+ ${executions.previousOrFirstPageable().getPageNumber() + 1} + ${filterDef}}">Назад</a>
        </li>
        <li class="page-item" th:classappend="${executions.getNumber() + 1 == i ? 'active' : ''}"
            th:each="i : ${#numbers.sequence((executions.getNumber() + 1 > 2 ? executions.getNumber() - 1 : 1), (executions.getNumber() + 3 < executions.getTotalPages() ? executions.getNumber() + 3 : executions.getTotalPages()) )}">
            <a class="page-link" th:text="${i}" th:href="@{'/api/v1/executions?page_number=' + ${i} + ${filterDef}}"></a>
        </li>
        <li class="page-item" th:classappend="${executions.isLast() ? 'disabled' : ''}">
            <a class="page-link"
               th:href="@{'/api/v1/executions?page_number='+ ${executions.nextOrLastPageable().getPageNumber() + 1} + ${filterDef}}">Вперед</a>
        </li>
    </ul>
</nav>
<div id="ip-or-execution-input">
    <form method="GET" th:action="@{/api/v1/executions/execute}">
        <label>
            <input type="text" name="address" placeholder="ip or domain">
        </label>
        <label>
            <input type="datetime-local" name="startTime" placeholder="Время запуска">
        </label>
        <button type="submit">Execute</button>
    </form>
</div>
</body>
</html>